body {
    background-color: cornflowerblue;
    color: white;
}

.paragraphe {
    font-size: 20px;
    font-weight: semi-bold;
    background-color: black;
}

.containerStyle {
    color: black;
    display: flex;
    padding: 4px;
    gap: 8px;
    width: 100%;
    height: 400px;
    background-color: white;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
}

.itemStyle {
    background-color: rgb(138, 194, 255);
    border: solid black 2px;
    width: 80px;
    height: 80px;
}


.redBorder {
    border: solid red 5px;
}